*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #d9a7c7, #fffcdc); 
    font-family: Open sans, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 10px;
}

.container{
    background: #212121;
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    padding: 30px;
    color: #f1f1f1;
}

h2{
    font-size: 30px;
    font-family: Raleway, sans-serif;
    text-align: center;
}

.input-group{
    margin-top: 30px;
    position: relative;
}

label{
    font-size: 20px;
    display: block;
    position: relative;
}

input{
    display: block;
    width: 100%;
    font-size: 18px;
    color: #f1f1f1;
    padding: 10px 0;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    transition: 0.5s;
}

input:focus{
    box-shadow: 0 4px 0 rgba(255, 255, 255, 1);
}

input::placeholder{
    font-size: 16px;
}

.icon-input-container{
    position: relative;
}

.icon-check{
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}

.error-msg{
    margin-top: 7px; /* Le margin top ne fonctionne pas car le texte est en display-inline. Pour que ça fonctionne il faut le mettre en display block */
    color: #f75252;
    font-weight: 400;
    display: none;
}

.password-info{
    margin-top: 8px;
    color: #a9a9a9;
    font-weight: 400;
    display: block;
}

.lines{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.l1, .l2, .l3{
    border-radius: 5px;
    height: 5px;
    margin: 15px 5px 20px;
    width: 30%;
    position: relative;
    display: none;
}

.l1{
    background: #e40a0a;
}
.l2{
    background: #fdee50;
}

.l3{
    background: #14e214;
}

.lines span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

form button{
    display: block;
    margin: 40px auto 10px;
    background-color: #fffcdc;
    border: none;
    min-width: 150px;
    padding: 12px 15px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    font-family: Raleway, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover{
    transform: translateY(-5px);
    background: #e3dfa2;
}

form button:focus{
    transform: scale(1.05);
}







/* .block-main{
    background: #212121;
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
}

.block-main h1{
    font-size: 1.79em;
    text-align: center;
    color: white;
    padding: 25px 0 10px 0;
}
form{
    padding: 30px;
}

form p{
    transform: translateY(-15px);
    color: #757575;
    margin-bottom: 5px;
}

form label{
    font-size: 20px;
    color: white;
    position: relative;
}

form img{
    width: 30px;
    position: absolute;
}

form .a{
    right: -380px;
}

form .b{
    right: -370px;
}

form .c{
    right: -415px;
}

form .d{
    right: -294px;
}

form input{
    margin: 10px 0px 30px 0;
    width: 100%;
    background-color: #212121;
    outline: none;
    border: none;
    font-size: 17px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    
}

form button{
    display: block;
    margin: 10px auto;
    background-color: #fffcdc;
    border: none;
    min-width: 200px;
    padding: 15px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    font-family: Raleway, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover{
    transform: translateY(-5px);
} */

/* #fffcdc */
/* #dfe3ce */


